In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('mine.csv')
print (df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [4]:
# The head()is used to display the first few rows of a dataframe
print(df.head())

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [5]:
# The tail() is used to dsplay last few rows of a dataframe
print(df.tail())

     Duration  Pulse  Maxpulse  Calories
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [6]:
# The info() is used to provide a summary of a dataframe
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB
None

In [7]:
# The dropna() is used to remove null values from a dataframe
print(df.dropna())

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[164 rows x 4 columns]

In [8]:
# The fillna() is used to fill missing values with a specific value
print(df.fillna(112))

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [11]:
# Part two of the assignment

data = {
    'Name': ['Emma', 'Wilber', 'Robin', 'Tevor', 'Yeko', 'Miriam', 'Jesca'],
    'City': ['Kampala', 'Mbale', 'Gulu', 'Livingstone', 'Tororo', 'Arua', 'Mbarara'],
    'Age': [23, 26, 25, None, 20, 'Train', 21],
    'Py-Score': [90, 75, 'mine', 89, 94, None, 84]
}

df1 = pd.DataFrame(data)
print(df1)

     Name         City    Age Py-Score
0    Emma      Kampala     23       90
1  Wilber        Mbale     26       75
2   Robin         Gulu     25     mine
3   Tevor  Livingstone   None       89
4    Yeko       Tororo     20       94
5  Miriam         Arua  Train     None
6   Jesca      Mbarara     21       84

In [18]:
# Removing wrong data
df1 = df1.dropna()

In [23]:
# Removing the wrong formats
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')
df['Py-Score'] = pd.to_numeric(df['Py-Score'], errors='coerce')

In [24]:
# Removing duplicates
df1 = df.drop_duplicates()
print(df1)

     Name         City   Age  Py-Score
0    Emma      Kampala  23.0      90.0
1  Wilber        Mbale  26.0      75.0
2   Robin         Gulu  25.0       NaN
3   Tevor  Livingstone   NaN      89.0
4    Yeko       Tororo  20.0      94.0
5  Miriam         Arua   NaN       NaN
6   Jesca      Mbarara  21.0      84.0

In [25]:
# Correlation
correlation_matrix = df.corr()
print("\nCorrelation Matrix:")
print(correlation_matrix)

Correlation Matrix:
               Age  Py-Score
Age       1.000000 -0.815891
Py-Score -0.815891  1.000000

C:\Users\RUB\AppData\Local\Temp\ipykernel_2596\3160404647.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  correlation_matrix = df.corr()